/*css global*/
html, body, h1, h3, h4, ol, ul, li, a, p{
    margin:0;
    padding: 0;
    font-family: Calibri,Arial;
}

body{
    background-color: #FFFFE0;
}
/*cabezera y footer*/
.paranavbar {
    background-color: khaki;
}
.paranavbar img{
    width: 100px;
    height: auto;
}
.textonav a{
    background-color: goldenrod;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px;
}
.textonav a:hover{
    background-color: goldenrod;
    color: lemonchiffon;
}
.footerletras a{
    color: goldenrod;
    text-decoration: none;
    font-size: 18px;
}

.footerletras a:hover{
    color: darkkhaki;
}
/*para la cards*/
.paracard {
    background-color: khaki;
    margin-left: auto;
    margin-right: auto;
}
.paracardimagen{
    border-radius: 200px;
}
/*index lo escrito de la pagina*/

.contenedorindex{
    align-items:center;
}

.textoglobal {
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;
}

/*inicio sesion*/

#iniciodesesion{
    background-color: khaki;
    width: 300px;
    margin: auto; 
    padding: 20px;
    text-align: center;
}

#boton {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#boton:hover {
    background-color: goldenrod;
    color: lemonchiffon;
}
